body {
	margin: 0;
	padding: 0;
	background:
	url(../imgs/layer4.png) repeat fixed 40% 0,
	url(../imgs/layer3.png) repeat fixed -80% 0,
	url(../imgs/layer2.png) repeat fixed -130% 0,
	url(../imgs/layer1.png) repeat fixed 100% 0;
	font-size: 20px;
	line-height: 26px;
    font-family: 'Over the Rainbow', cursive;
	text-decoration: none;
	color: #330066;
    text-align:center;
}

.inner-container {
    width:920px;
    margin:0 auto;
}

/*-------Menu-----------*/

#menuList {
    background:url(../imgs/bubs.png) 50% 0 no-repeat;
    margin:0;
    padding:30px 0;
}
#menuList li{
	font-family: 'Over the Rainbow', cursive;
	display: inline-block;
    margin:0 18px;
}


/* ----------------------Menu Links-------------------------------------- */

a {
	font: 36px/18px 'Over the Rainbow', cursive;
	text-decoration: none;
	color: #ffffff;
}

a:visited {
	text-decoration: none;
	color: #ffffff;
}
a.youAreHere {
	color: #c34900;
}
.menuList a {
    display:inline-block;
    min-width:100px;
    padding-bottom:25px;
    text-align:center;
}
.menuList a:hover {
	background: url(../imgs/menuLinkRollover.png) 50% bottom no-repeat;
	text-decoration: none;
}


a:active{
	text-decoration: none;
	color: #ffffff;
}

/* ---------Core Page Image Positions and Transforms------------------- */

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.img {
	border: 10px solid #fff;
	float: left;
	margin: 20px;
	overflow: hidden;

	-webkit-box-shadow: 5px 5px 5px #111;
	box-shadow: 5px 5px 5px 5px #111;
}

#beach,
#castle,
#chorus {
    display:inline-block;
    vertical-align:middle;
    line-height:300px;
    margin:30px 10px;
}

#beach img{
	transform: rotate(-7deg);
	-webkit-transform:rotate(-7deg);
}
#chorus img{
	transform: rotate(7deg);
	-webkit-transform:rotate(7deg);
}

/*-----------------------Cluster Header Font------------------*/
h1 {
    height:250px;
}
#to_cluster {
    position:absolute;
    text-indent:-9999em;
	width: 100%;
	font-family: sans-serif;
	font-weight: bold;
	display: block;
	font-size: 200px;
	height: 200px;
}

.clustered svg {
    width:100%;
    display:block;
}

/*---------------------Level 2 CSS---------------*/

#back,
#level2Links {
    margin:20px 0;
}
#back a,
#level2Links a {
    margin:0 20px;
}

/*-------Signac--------*/
.boats img {
    -webkit-transition:all 0.3s ease;
    transition:all 0.3s ease;
}
.boats img:hover {
    width:350px;
    height:300px;
}
